@import url("/css/main.css");

.sumbit-button {
    margin-top: 10px;

    border: 0;
    border-radius: 6px;
    color: var(--white-color);
    background-color: var(--accent-color);
}

input {
    border: 0;
    border-bottom: 1px solid var(--gray-color);
    color: var(--black-color-text);
    margin-top: 10px;
}