@import url("/css/main.css");

.last-article-block {
    max-width: 800px;
}

.article_block {
    background-color: var(--gray-and-white-color);
    width: 370px;

    display: inline-grid;
}

.article_block:not(:first-child):not(:nth-child(2)) {
    margin-top: 20px;
}

.article_block .main-h2 {
    width: 350px;
    text-align: center;
    position: absolute;
    color: var(--white-color);

    font-size: 24px;
}

.article_block .main-p {
    width: 370px;
    padding-left: 8px;
    font-size: 16px;
}

.image-article {
    width: 370px;
    height: 244px;
}

.blue-bg-opacity {
    width: 370px;
    height: 244px;

    position: absolute;

    background-color: var(--accent-color);
    opacity: 0.8;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sumbit-button {
    width: 370px;
    height: 36px;
    background: var(--accent-color);
    color: var(--white-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
}